#footercopy
{
	padding-top: 30px;
}

#formfooter
{
	padding-left: 20px;
}



#formfooter
{
	padding-left: 20px;
}
#join
{
	color:orange;
}
#backgroundimage
{
	background-color: #0d1a00;
}

#firstform

{
	
}

.modify
{
	color:green;
}


@media (max-width: 947px)
{
	.nav>li>a
	{
		padding-left: 5px;
		padding-right: 5px;
	}
}