#footercopy
{
	padding-top: 30px;
}

#formfooter
{
	padding-left: 20px;
}



#formfooter
{
	padding-left: 20px;
}
#join
{
	color:orange;
}
#backgroundimage
{
	background-color: #0d1a00;
}

#firstform

{
	padding-left: 220px;
}